{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
<div class="message info" style="display: block;">{{ error|trans({}, 'FOSUserBundle') }} <span class="close" title="Dismiss"></span> </div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

  <p class="element">
    <label for="username" class="required">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label><br />
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="text" />
  </p>
  <p class="element">
    <label for="password" class="required">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label><br />
    <input type="password" id="password" name="_password" class="text" />
  </p>

<!--
  <p>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
  </p>
-->

<div class="form_buttons">
  <p class="element formend ">
    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary btn-large" /><br/>
    <a href="{{ path('fos_user_registration_register') }}">Account Registration</a><br/>
    <a href="/resetting/request">Forgot Password?</a>
  </p>
</div>

</form>

{% endblock fos_user_content %}
